<div class="w-1/2 bg-rose-200">
    <h1>Welcome to room for chatting</h1>

</div>

<div>
    <h3>Last Messages</h3>
    <span id="allMessages">All messages</span>
    <div>
        <span id="nickname"></span>
        <input class="" type="text" name="messageInput" id="messageInput" placeholder="Type and chat!">
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
<script src="/scripts/chat.js"></script>